.radar-chart {
  font-family: Source Sans Pro,sans-serif !important;

  }

  .radar-chart .circleLine {
    stroke: #3b4252;
    filter: url(#f1); /* Applies the shadow filter */
  }
  .radar-chart .outerCircle {
    stroke-width: 1;
  }

  .radar-chart .innerCircle {
    stroke-width: 1;
  }
  
  .radar-chart svg {
    border-radius: 100%;
    border: #3b4252
  }
  
  
  .radar-chart circle.clickable-point {
    fill: #4c566a;
  }

  .radar-chart circle.clickable-point:hover {
    fill: #1e88e5; /* White stroke to highlight the circle */
    stroke-width: 1px; /* Make the stroke thicker to stand out */
    cursor: pointer; /* Cursor changes to a pointer to indicate it's clickable */
}

  
  .radar-chart polygon {
    fill: rgba(100, 181, 246, 0.2);
    stroke: #1e88e5;
    stroke-width: 2;
    transition: fill 0.3s, stroke 0.3s;
  }

  .radar-chart .gradient-circle {
    opacity: 0.6;
  }