.custom-navbar {
    background-color: #14151a;
    padding-top: 10px !important; /* Increase top padding */
    padding-bottom: 10px !important; /* Increase bottom padding */
  }

  /* Initial state of the navbar brand */
.navbar-brand-hover {
    opacity: 1;
    transition: opacity 0.5s ease; /* Smooth transition for the opacity */
  }
  
  /* Hover state */
  .navbar-brand-hover:hover {
    opacity: 0.6; /* Change the opacity to 60% on hover */
  }